
.container{
  
   /* padding-bottom: 1rem;
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
     "Segoe UI Symbol", "Noto Color Emoji";
     font-weight: 700; */
}
.navBar{
    /* color: white;
    /* background-color:  #2d3280; */
    /* display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
     */ 
}


